@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background: rgba(0, 0, 0, 0.15);
}

:root {
  --dark: #111311;
  --light: #dee0de;
}

body {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  font-family: "Gloria Hallelujah";
  color: var(--dark);
  background: var(--light);
  line-height: 1.75em;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #efefef;
  opacity: 0.5;
  background-image: url("https://assets.codepen.io/5896374/bg-noise-min.jpg");
  background-repeat: repeat;
  background-size: 400px;
  background-position: 400px;
  animation: fuzz 1s steps(6) infinite;
  mix-blend-mode: screen;
  z-index: -1;
}

@keyframes fuzz {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -150px 150px;
  }
  100% {
    background-position: 250px 250px;
  }
}

h1 {
  font-size: 1.5em;
  margin: 10px;
  padding: 10px;
  line-height: 1.5em;
  clear: both;
  width: 100%;
  float: left;
}

h2 {
  line-height: 1.75em;
  margin: 0;
}

b {
  display: inline-block;
  position: relative;
  width: max-content;
  background: white;
  text-shadow: 0 1px black;
}

b::after,
b::before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #aaa);
}

b::after {
  mix-blend-mode: color;
}

article {
  width: max-content;
  max-width: 100%;
  margin: 10px;
  position: relative;
  counter-increment: count;
  background: linear-gradient(#f9efaf, #f7e98d);
  padding: 10px;
  padding-bottom: 25px;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

article:hover {
  transform: translatey(-5px) rotate(-1deg);
  box-shadow: -3px 10px 6px rgba(0, 0, 0, 0.075);
}

article::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: 15px solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  opacity: 0.1;
  border-top-right-radius: 3px;
}

article::after {
  content: "- ALiqyan";
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 1.25em;
  font-weight: bold;
  opacity: 0.6;
  font-family: "dancing script", cursive;
}

article h2::before {
  content: counter(count) ". ";
  font-weight: normal;
  opacity: 0.7;
}

p {
  margin-left: 1em;
}

hr {
  color: inherit;
  border: none;
  border-top: 2px solid;
  margin: 10px 0;
  border-radius: 100%;
}

.easy {
  cursor: pointer;
  background: red;
  width: 50px;
  height: 50px;
  display: block;
  color: inherit;
  border: 2px solid;
  border-bottom: 6px solid;
  border-radius: 100%;
  transition: all 0.3s ease;
  box-shadow:
    0 5px 5px rgba(0, 0, 0, 0.35),
    0 3px 6px inset rgba(255, 255, 255, 0.65);
  margin: 20px auto;
}

.easy:hover {
  background: #ec4949;
}

.easy:active,
.easy:focus {
  background: darkred;
  border-bottom-width: 2px;
  border-top-width: 6px;
  box-shadow:
    0 0px 2px rgba(0, 0, 0, 0.25),
    0 3px 5px inset rgba(0, 0, 0, 0.5);
}
